@use 'colors' as c;

$border-width: 2px;
$border-radius: 8px;
$layout-padding-lg: 20px;

.container {
  width: 100%;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;

  > p {
    margin-bottom: 20px;
  }

  @media (max-width: 500px) {
    margin-top: 70px;
  }

  @media (min-width: 768px) {
    margin-top: 0;
    padding: 0;
  }

  @media (min-width: 1024px) {
    width: auto;
  }
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;

  .selectedIngredient {
    padding-right: 10px;
    text-transform: capitalize;
  }

  &:first-letter {
    color: c.$accentColor;
    font-weight: 600;
  }
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.months {
  text-transform: capitalize;
  font-weight: 700;
  margin-left: 5px;
  color: inherit;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  &:first-letter {
    color: c.$accentColor;
    font-weight: 600;
  }
  margin-bottom: 10px;
}
