.container {
  // height: 50px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 30px;
  flex-direction: column;

  &>:first-child {
    margin-right: 50px;
    max-width: 400px;
    height: fit-content;
  }

}

.title {
  margin-bottom: 20px;
}

.headerFilters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.showContent {
  height: auto;
  width: 100%;
  padding: 20px 80px;
  border-bottom: 1px solid #000;
}
