@use 'colors' as c;
$filter-width: 600px;

.container {
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  flex-direction: column;
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    width: 800px;
    margin: 0 auto;
  }
}

.title {
  margin-bottom: 20px;
}

.headerFilters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;

  > div {
    display: flex;
    align-items: center;

    > .icon {
      margin-right: 5px;
    }
  }
}

.icon {
  height: 20px;
  width: 20px;
  color: c.$primaryColor;
}

.showContent {
  height: auto;
}

.filterHeaderTitle {
  display: flex;
  flex-direction: column;
  & p:first-letter {
    color: c.$accentColor;
  }
}

.filterContent {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
