.container {
  // height: 50px;
  cursor: pointer;
  z-index: 2;
  padding: 20px 50px 0;
  display: flex;
  justify-content: center;
  height: fit-content;

  &>:first-child {
    margin-right: 50px;
    max-width: 400px;
    height: fit-content;
  }

}


.showContent {
  height: auto;
  width: 100%;
  padding: 20px 80px;
  border-bottom: 1px solid #000;
}
