@use 'colors'as c;

.container {
  padding: 0 10px;

  &>div:first-child {
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      align-items: normal;
      padding-top: 20px;
    }
  }

  @media (min-width: 768px) {
    padding: 10px 15px 0 0;
  }
}

.headline {
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 40px;
  width: 100%;

  &:first-letter {
    color: c.$orangered;
  }
}


.title {
  font-weight: 400;
  max-width: 90%;

  &:first-letter {
    color: c.$orangered;
  }
}

.list {
  display: flex;
  height: fit-content;
}

.list>span:not(:last-child) {
  margin-right: 10px;
}
